<!-- <app-header></app-header> -->

<div
  class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]"
>
  <div
    class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_500px_at_50%_200px,#C9EBFF,transparent)]"
  ></div>
</div>

<div class="container mt-8">
  <h1 class="text-2xl text font-bold text-center">
    <span class="text-green-700"> &lt;</span>
    <span>Secure</span><span class="text-green-700">Bit/&gt;</span>
  </h1>
  <p class="text-sm text-center">Your personalize Password Manager</p>

  <div class="text-black flex flex-col p-4 items-center text-sm  sm:flex-wrap mx-12">
    <input
      class="rounded-lg border border-green-400 w-full px-2 py-1 outline-none"
      type="text"
      placeholder="Enter Website URL"
      name=""
      id=""
      [(ngModel)]="list.URL"
    />
    <div class="flex w-full justify-between gap-4 pt-2">
      <input
        class="rounded-lg border border-green-400 w-full px-2 py-1 outline-none"
        type="text"
        placeholder="Enter Username"
        name=""
        id=""
        [(ngModel)]="list.username"
      />

      <div class="relative">
        <input
          class="rounded-lg border border-green-400 w-full px-2 py-1 outline-none"
          type="password"
          placeholder="Password"
          name=""
          id="password"
          [(ngModel)]="list.password"
        />
        <span class="absolute right-1 top-2">
          <img
            class="h-4 cursor-pointer"
            (click)="showpassword()"
            id="eye"
            [src]="imagePath"
            alt=""
          />
        </span>
      </div>
    </div>

    <button
      (click)="savepassword(list)"
      class="flex justify-center items-center mt-3 gap-1 bg-green-600 hover:bg-green-400 w-fit rounded-full px-4 py-1"
    >
      <lord-icon src="https://cdn.lordicon.com/jgnvfzqg.json" trigger="hover">
      </lord-icon
      >Submit
    </button>
  </div>

  <div
    class="p-2 w-full"
    *ngIf="passwordArray && passwordArray.length != 0; else  noPasswords"
  >
    <h1 class="font-bold text-1xl  md:mx-8">Your Passwords</h1>

    <table class="table-auto text-xs mt-3 w-full  lg:mx-8 rounded-md overflow-hidden">
      <thead class="bg-green-400 w-full overflow-hidden">
        <tr class="">
          <th class="font-medium py-1">Website</th>
          <th class="font-medium py-1">Username</th>
          <th class="font-medium py-1">Password</th>
          <th class="font-medium py-1">Actions</th>
        </tr>
      </thead>
      <tbody class="bg-green-200">
        <tr *ngFor="let item of passwordArray ; let i = index"  >
          <td class="text-center min-w-32 py-1">
            <div class="flex justify-center items-center gap-1">
              <span>{{ item.URL }} </span>
              <lord-icon
                class="cursor-pointer size-5"
                (click)="copyText(item.URL)"
                src="https://cdn.lordicon.com/wvdxdmpi.json"
                trigger="hover"
              >
              </lord-icon>
            </div>
          </td>
          <td class="text-center min-w-32 py-1">
            <div class="flex justify-center items-center gap-1">
              <span>{{ item.username }}</span>
              <lord-icon
                class="cursor-pointer size-5"
                (click)="copyText(item.username)"
                src="https://cdn.lordicon.com/wvdxdmpi.json"
                trigger="hover"
              >
              </lord-icon>
            </div>
          </td>
          <td class="text-center min-w-32 py-1">
            <div class="flex justify-center items-center gap-1">
              <span>{{ item.password }}</span>
              <lord-icon
                class="cursor-pointer size-5"
                (click)="copyText(item.password)"
                src="https://cdn.lordicon.com/wvdxdmpi.json"
                trigger="hover"
              >
              </lord-icon>
            </div>
          </td>
          <td class="text-center min-w-32 py-1">
            <div class="flex justify-center items-center gap-2">
              <span>
                <lord-icon
                class="cursor-pointer size-5"
                
                src="https://cdn.lordicon.com/gwlusjdu.json"
                trigger="hover"
              >
              </lord-icon>
              </span>
              <span (click)="deletePassword(i)">
                <lord-icon
                class="cursor-pointer size-5"
                
                src="https://cdn.lordicon.com/skkahier.json"
                trigger="hover"
              >
              </lord-icon>
              </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noPasswords>
    <div class="p-2 w-full">
      <h1 class="font-bold text-1xl px-2">No Passwords</h1>
    </div>
  </ng-template>
</div>
